#banner {height:80px;border-bottom:1px solid grey;margin-bottom:40px;}
#app-title {width:50%;float:left;position:relative;padding-top:20px;font-size:35px;font-weight:bold;}
#logos {width:50%;float:left;position:relative;padding-top:10px;}
#logo-idgis {height:55px;padding-left:10px;}
#logo-limburg {height:55px;}
#tab-text:hover, #tab-coupling:hover {cursor:pointer;}